.cardDb {
    border-radius: 2px solid !important;
    border: 0 solid black;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
        rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.cardDb:hover {
    box-shadow: rgba(0, 0, 0, 0.089) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.034) 0px 0px 0px 1px;
}

#deleteButton:hover {
    border: 1px solid #e74c3c !important;
}
#editButton:hover {
    border: 1px solid #139e1a !important;
}
.dtlHed {
    font-weight: 700 !important;
    letter-spacing: 0;
    color: #383a4e;
    line-height: 1.2;
}
.text-left {
    text-align: left !important;
}
