.availableSit {
    margin-top: 50px;
    min-height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .form {
        width: 400px;

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            input {
                height: 40px;
                margin-top: 10px;
            }
            select {
                height: 40px;
                margin-top: 10px;
            }
        }
    }
}
