.banner {
    background-image: url('../../../assets/images/logos/mastercard.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 150px 0;
}
